:root {
    --white: #f2f1f0;
    --black: #131110;
    --accent: #40393D; 
    --heading: "Work Sans", sans-serif;
    --body: "Lato", sans-serif;
  }

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

[class*=col] { padding: 0; }
[class*=grid] { margin: 0; }

body {
    font-family: var(--body);
    color: var(--black);
    
}

/* ------------- Utility Classes --------------  */


.left { text-align: left; }
.center { text-align: center; }
.right {  text-align: right; }

.padding { padding: 5%; }
.padding-two { padding: 2%; }
.padding-2-5 { padding: 2% 5%; }
.padding-05 { padding: 0.5rem; }
.padding-1 { padding: 1rem; }
.padding-left { padding-left: 2rem; }
.padding-top { padding-top: 2%; }
.padding-horizontal { padding: 0 5%}

.margin-auto { 
    margin: auto;
    width: 100%; }

.tall-40 { min-height: 40vh; }
.tall-100 { min-height: 100vh; }

.bg-light { 
    background-color: var(--white);
    color: var(--black);
}

.bg-dark { 
    background-color: var(--black);
    color: var(--white); 
}

.bg-accent { 
    background-color: var(--accent);
    color: var(--white); 
}

.light-text { color: var(--white); }

/* ------------- Typography --------------  */

h2, h3, h4, h5, h6 {
    font-family: var(--heading);
    font-style: normal;
    line-height: 1.1;
    margin-bottom: 0.8rem;
}

h1 {
    font-size: 2.5rem;
    font-family: var(--heading);
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.01em;
}

h1 span {
    color: var(--accent);
}

h2  { 
    font-size: 2.2rem;
    font-weight: 500;  }

h3  { 
    font-size: 1.8rem;
    font-weight: 400;  }
h4  { 
    font-size: 1.4rem;
    font-weight: 300; }
p   { 
    font-size: 1rem;
    font-weight: 300; }

p, ul {
    line-height: 1.4;
     margin-bottom: 0.8rem;
}

h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom:0;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;
}

a:hover { color: var(--white); }

.mvs:hover { border: none; }

.button {
    text-decoration: none;
    color: var(--black);
    border: 2px solid;
    border-radius: 10px;
    padding: 0.6rem 2rem;
    margin-top: 1rem;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
}

.button:hover {
    background-color: var(--accent);
    color: var(--white);
}

@keyframes fade-in {

    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .fade-in { animation: fade-in 3s ease-in forwards; }

/* ------------- Images & Background Images--------------  */

img { max-width: 100%; }

.bg-image {
    background-color: var(--accent);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 0 5%;
}

.bg-sleep-co { background-image: url('/images/projects/sleepco2.png'); }
.bg-design-collective { background-image: url('/images/projects/designcollective.png'); }
.bg-negroni { background-image: url('/images/projects/negroni2.png'); }
.bg-zen-studio { background-image: url('/images/projects/zenstudio2.png'); }
.bg-bunker { background-image: url('/images/projects/bunker.png'); }

.bg-mm {
    background-color: var(--accent);
    background-image: url('/images/profile-opacity-33.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 0%;
   background-origin: padding-box;
}

.landscape { aspect-ratio: 16/9; }

/* ------------- Form Styles --------------  */

form input,
form textarea {
  width: 100%;
  margin-bottom: 0.6rem;
  padding: 0.5rem;
  border: 2px solid var(--black);
  border-radius: 10px;
  background-color: var(--white);
  outline: none;
  font-family: var(--heading);
  font-size: 1rem;
}

form input:focus,
form textarea:focus {
  border-color: var(--accent);
}

textarea { min-height: 5rem; }

form label {
  margin-top: 0.5rem;
  display: inline-block;
  font-family: var(--heading);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

form button {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--heading);
  border: 2px solid var(--accent);
  border-radius: 10px;
  padding: 0.5rem 2.5rem;
  margin: 0.5rem 0;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  font-weight: 500;
}

form button:hover {
  background-color: var(--accent);
  color: var(--black);
  cursor: pointer;
}

::placeholder {
  color: (--white);
  opacity: 1;
}

/* ------------- Header & Footer --------------  */

header a {
    display: inline-block;
    border: none;
}

nav a { padding: 0.5rem; }

.logo a { border-bottom: none; }

.banner {
    background-image: url('/images/banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 50vh;
}

.bg-overlay { position: relative; }
  
  .bg-overlay::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(64,61,57,0.5);
  }
  
  .bg-overlay > * {
    position: relative;
  }

  .bg-overlay-gradient::before {
   
    background: radial-gradient(farthest-side at 75% 60%,rgba(37,36,34,0.7), rgba(64,61,57,0.1)); 

  }

.sub-footer {
    opacity: 0.8;
    font-size: 0.9rem;
}

/* ------------- Media Queries --------------  */

@media (max-width: 48em) {

    .flex-flip-sm { flex-flow: column-reverse; }

    .hide-sm { display: none; }

    .bg-mm { background-image: url('/images/profile-opacity-25.png');}

    .padding-horizontal-mobile { padding: 1rem 5%; }

    .mobile-nav { display: inline-block; }

    .right-mobile {text-align: right; }

    .pad-right-mobile { padding-right: 5%; }

}
